#related-products{
  background-color: var(--med);
  padding: 1rem;
  margin-bottom: 3rem;
  overflow: hidden;
}
#related-products-title{
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark);
  border-bottom: 0.25em solid var(--light);
  margin-bottom: 1rem;
}
#product-bar-scroll{
  overflow-x: auto;
  padding: 1rem 0;
  width: 100%;
}
#related-product-list{
  display: flex;
  width: fit-content;
}
