#related-products{
  background-color: var(--med);
  padding: 1rem;
  overflow-X: scroll;
  margin-bottom: 3rem;
}
#related-products-title{
  font-size: 2rem;
  font-weight: 800;
  color: white;
  border-bottom: 0.25em solid var(--light);
  margin-bottom: 1rem;
}
#related-product-list{
  display: flex;
  width: fit-content;
}
