#QAndA{
  background-color:white;
 /*  width: 1300px; */
  position: relative;
  /* left: 50%; */
  /* margin-left: -600px; */
  border-radius: 10px;
}

#QAndA #Qtitle {
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 20px;
  font-weight: normal;
}