.img-arrow{
  /* position */
  position: absolute;
  z-index: 3;
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background & border */
  background-color: transparent;
  border-radius: 100%;
  border: 0;
  /* foreground */
  font-weight: 800;
  font-size: 3rem;
  color: var(--light);
}
.arrow-icon{
  fill: var(--dark);
}
.img-arrow.next{
  right: 0.5rem;
}
.img-arrow.prev{
  left: 7rem;
}
.img-arrow.prev.up{
  position: relative;
  transform: rotate(90deg);
  top: 0;
  right: auto;
  left: auto;
}
.img-arrow.next.down{
  position: relative;
  transform: rotate(90deg);
  bottom: 0;
  right: auto;
  left: auto;
}