#ImgCarousel{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: hsla(0,0%,100%,0.3);
}
.carouselImg{
  display: flex;
  justify-content: center;
  width: var(--carousel-img-height);
  height: var(--carousel-img-height);
  margin-bottom: 1rem;
}
.carouselImg img{
  border: 0.5rem solid white;
  background-color: white;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 100%;
  transition: src 1s;
}
.carouselImg.active img{
  border-color: var(--light);
  background-color: var(--light);
}
.no-photo{
  height: var(--carousel-img-height);
  margin-bottom: 1rem;
}